<h1>Welcome#index</h1>

<%= button_to 'Soluntion One', solution_one_path,class: "two-step-next-btn", :method => "get" %>
<%= button_to 'Soluntion Two', solution_two_path,class: "two-step-next-btn", :method => "get" %>
